html {
	font-family: sans-serif;
}

h1 {
	font-size: 40px;
	background-color: #008080;
	text-align: center; 
}

.nav ul {
	text-align: center;
}

.nav ul li {
	display: inline;
}

#profimg , #abouttext {
	text-align: center;
}

#abouttext {
	font-size: 23px;
}

#aboutbutton {
	cursor: pointer;
	display: inline;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}

#aboutbutton:active {
	-ms-transform: translateY(4px);
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	border-bottom: none;
}

#moreabouttext {
	display: none;
	font-size: 23px;
}

.event {
	font-size: 18px;
}

.eventbutton {
	cursor: pointer;
	background-color: dodgerblue;
}

.eventimg {
	display: none;
}

#link {
	text-align: center;
}